@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');

img {
	border-radius: 50%;
	-webkit-animation: glowing 3500ms infinite;
	-moz-animation: glowing 3500ms infinite;
	-o-animation: glowing 3500ms infinite;
	animation: glowing 3500ms infinite;
	}
@-webkit-keyframes glowing {
	0% {
	background-color: rgba(255, 255, 255, .5);
	-webkit-box-shadow: 0 0 3px rgba(255, 255, 255, .5);
	}
	50% {
	background-color: rgba(255, 255, 255, 255);
	-webkit-box-shadow: 0 0 80px rgba(255, 255, 255, 255);
	}
	100% {
	background-color: rgba(255, 255, 255, .5);
	-webkit-box-shadow: 0 0 3px rgba(255, 255, 255, .5);
	}
}
@-moz-keyframes glowing {
	0% {
		background-color: rgba(255, 255, 255, .5);
		-moz-box-shadow: 0 0 3px rgba(255, 255, 255, .5);
	}
	50% {
		background-color: rgba(255, 255, 255, 255);
		-moz-box-shadow: 0 0 80px rgba(255, 255, 255, 255);
	}
	100% {
		background-color: rgba(255, 255, 255, .5);
		-moz-box-shadow: 0 0 3px rgba(255, 255, 255, .5);
	}
}
@-o-keyframes glowing {
	0% {
		background-color: rgba(255, 255, 255, .5);
		box-shadow: 0 0 3px rgba(255, 255, 255, .5);
	}
	50% {
		background-color: rgba(255, 255, 255, 255);
		box-shadow: 0 0 80px rgba(255, 255, 255, 255);
	}
	100% {
		background-color: rgba(255, 255, 255, .5);
		box-shadow: 0 0 3px rgba(255, 255, 255, .5);
	}
}
@keyframes glowing {
	0% {
		background-color: rgba(255, 255, 255, .5);
		box-shadow: 0 0 3px rgba(255, 255, 255, .5);
	}
	50% {
		background-color: rgba(255, 255, 255, 255);
		box-shadow: 0 0 80px rgba(255, 255, 255, 255);
	}
	100% {
		background-color: rgba(255, 255, 255, .5);
		box-shadow: 0 0 3px rgba(255, 255, 255, .5);
	}
}
	body {
	background: linear-gradient(-45deg
, #000000,#434343);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	animation: gradient 15s ease infinite;
	font-family: 'Montserrat', sans-serif;
	min-height: 80vh;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
}
@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
h1 {
	  font-family: 'Montserrat', sans-serif !important;
	  font-weight: bold;
	}
h2 {
    font-family: 'Montserrat', sans-serif !important;
	  font-size: 150%;
	}
h3 {
	  font-family: 'Montserrat', sans-serif !important;
  	font-size: 150%;
	}
p {
  	font-family: 'Montserrat', sans-serif !important;
  	font-size: 150%;
}
::-webkit-scrollbar {
    width: 10px;
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #202121;
}
footer{
  position: fixed; bottom: 0; width: 100%;text-align: center;
  margin-bottom: 10px;
  font-size: 10px
}
